 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .main {
            background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
            width: 600px; 
            height: 800px;
            padding: 20px;
        }

        .main > *
        {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class='main'>
        <p style="font-size: 24px; margin-bottom: 40px">Restauracja</p>
        <p style="font-size: 48px; margin-bottom: 200px">"Pod Kleponczkiem"</p>

        <p style="font-size: 24px; margin-bottom: 250px;">Dziękujemy za rezerwację w naszym lokalu!<br>Twoje dane:<br></p>
        <p style="font-size: 16px;">Jeśli chcesz odwołać rezerwację, możesz to zrobić <a href="{{link}}">tutaj</a></p>
        
    </div>
</body>
</html>